body{
    color: rgb(255, 241, 235);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Winky Rough", sans-serif;
    margin-bottom: 100px;
}

 header { 
    border-bottom: solid 2px rgb(101 18 74);
    padding: 20px;
    font-size: 40px;
    color: rgb(236 95 166);
 }

  .chamada{
    background: rgb(236, 109, 198);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

   .chamada-texto{
    margin-right: 5%;
   }
   h1{
    font-size:45px;
   }

   p {
    font-size: 25px;
   }
   
   .categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    }
   
    .categoria{
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 50px;
    }
    .categoria-vídeos img {
      opacity: 0.5;
      height: 200px;
    }

    .categoria-vídeos img:hover{
      opacity: 1.0;
      border: 1px solid rgb(255, 129, 45)
    }
    .categoria h2{
      color: rgb(236 95 166);
    }
