body{
    color: rgb(123, 211, 88);
    background: rgb(0, 0, 0);
    margin: 0px;
}

 header { 
    border-bottom: solid 2px rgb(33, 83, 23);
    padding: 20px;
    font-size: 32px;
    color: rgb(33, 83, 23);
 }