body{
    color: rgb(250, 129, 73);
    background: rgb(0, 0, 0);
    margin: 0px;
}

 header { 
    border-bottom: solid 2px rgb(236, 91, 217);
    padding: 20px;
    font-size: 40px;
    color: rgb(221, 87, 25);
 }